<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Profile')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="partials/header :: header"></header>

<div class="template row">
    <aside class="col-xl-4">
        <div class="container">
            <div class="row p-3" style="background: white">
                <div class="col">
                    <img class="card-img-top p-3 profile-pic" th:src="${friend.getProfile_picture_url().toString()}" alt="Card image cap">
                    <h5 class="card-title" th:text="${friend.username}"></h5>
                    <p th:text="${friend.aboutMe}"></p>
                </div>
                <div class="col">
                    <div class="card-text">
                        <h6>About Me:</h6>
                        <p th:text="${friend.firstName}"></p>
                        <p th:text="${friend.lastName}"></p>
                        <p th:text="${friend.createdDate}"></p>
                        <p th:text="${friend.birthday}"></p>
                        <p th:text="${friend.email}"></p>
                        <p th:text="${friend.job}"></p>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <main class="col-xl-8">
        <div style="width: 100%; background-color: white;">
            <nav>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-friends-tab" data-toggle="tab" href="#nav-friends" role="tab" aria-controls="nav-friends" aria-selected="true">Friends</a>
                        <a class="nav-item nav-link" id="nav-photos-tab" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-photos" aria-selected="false">Galleries</a>
                    </div>
                </nav>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!--       tab 1 friends-->
                <div class="tab-pane fade show active" id="nav-friends" role="tabpanel" aria-labelledby="nav-friends-tab">
                    <a th:href="@{/user/{username}(username=${#authentication.principal.username})}">
                        <h5>Go Home</h5>
                    </a>
                    <div class="square-gallery p-0">
                        <div class="image-text-container gallery-item" th:each="item : ${friendFriends}">
                            <div th:if="${item.username == currentUser.username}">
                                <a th:href="@{/user/{username} (username=${currentUser.getUsername()})}">
                                    <img th:src="${item.profile_picture_url.toString()}">
                                    <p class="image-text" th:text="${item.username}"></p>
                                </a>
                            </div>
                            <div th:if="${userFriendList.contains(item) == true}">
                                <a th:href="@{/{username}/friend/{friendName} (username=${sessionUser.getUsername()}, friendName=${item.getUsername()})}">
                                    <img th:src="${item.profile_picture_url.toString()}">
                                    <p class="image-text" th:text="${item.username}"></p>
                                </a>
                            </div>
                            <div th:if="${userFriendList.contains(item) == false && item.username != currentUser.username}">
                                <div>
                                    <img th:src="${item.profile_picture_url.toString()}">
                                    <p class="image-text" th:text="${item.username}"></p>
                                    <form th:action="@{/request/{username}/{friendName} (username=${sessionUser.getUsername()}, friendName = ${item.getUsername()})}" th:method="POST">
                                        <button type="submit" class="caption" name="befriend">Send Friend Request</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--       tab 2 galleries-->
                <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab" >
                    <a th:href="@{/user/{username}(username=${#authentication.principal.username})}">
                        <h5>Go Home</h5>
                    </a>
                    <div class="square-gallery p-0">
                        <div class="image-text-container gallery-item" th:each="item : ${galleries}">
                            <div th:if="${!item.getPictures().isEmpty()}" id="thumbnail-container">
                                <a th:href="@{/{username}/gallery/{id} (username=${item.getUser().getUsername()}, id=${item.getId()})}">
                                    <img th:src="${item.getPictures().get(0).getPictureUrl().toString()}" alt="Gallery Thumbnail Image">
                                    <p class="image-text" th:text="${item.getName()}"></p>
                                </a>
                            </div>
                            <div th:if="${item.getPictures().isEmpty()}">
                                <a th:href="@{/{username}/gallery/{id} (username=${item.getUser().getUsername()}, id=${item.getId()})}">
                                    <img src="/img/thumbnailDefault.jpg" alt="Gallery Thumbnail Image">
                                    <p class="image-text" th:text="${item.getName()}"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="col-xl-12">
        JustFriends
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>