<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Photos')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Galleries</h1>
<div th:each="item: ${galleries}">
    <a th:href="@{/{username}/gallery/{id} (username=${user.getUsername()}, id=${item.getId()})}" th:text="${item.getName()}"></a>
    <br>
</div>

<br><br>
<a th:href="@{/{username}/friend/{friendName}(username=${#authentication.getPrincipal().username}, friendName=${user.getUsername()})}">Return to Profile</a>



<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>