<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Edit Post')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="partials/header :: header"></header>

<h1>Edit a post</h1>
<form th:action="@{/posts/edit/{username}/{id} (username = ${user.username}, id = ${post.id} )}" th:object="${post}" method="POST" class="p-3">
    <label for="postBody">Body</label>
    <textarea id="postBody" class="form-control" rows="4" cols="20" th:field="*{body}"></textarea>
    <button type="submit" class="btn btn-primary">Submit Post</button>
</form>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>