<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="partials/head :: head('View Posts')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>User Posts</h1>

    <div th:each="item : ${postList}">
        <p th:text="${item.getCreatedDate()}"></p>
        <p th:text="${item.getBody()}"></p>
        <p th:text="${item.getId()}"></p>
        <form th:action="@{/posts/edit/{username}/{id} (username=${username}, id = ${item.getId()})}" th:method="get" th:object="${userPosts}">
            <input type="submit" name="edit" value="EDIT"/>
        </form>
        <form th:action="@{/posts/delete/{username}/{id} (username=${username}, id = ${item.getId()})}" th:method="post" th:object="${userPosts}">
            <input type="submit" name="delete" VALUE="DELETE"/>
        </form>

    </div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>