<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Edit')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<form th:action="@{/edit/{username} (username=${user.getUsername()})}" method="POST" th:object="${user}">

    <div class="form-group">
        <label for="first-name">First Name</label>
        <input id="first-name" class="form-control" th:field="*{firstName}" />
    </div>

    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input id="last-name" class="form-control" th:field="*{lastName}" />
    </div>

    <div class="form-group">
        <label for="aboutMe">About Me</label>
        <input type="text" id="aboutMe" class="form-control" th:field="*{aboutMe}">
    </div>

    <div>
        <label for="birthday">Birthday</label>
        <input type="date" id="birthday" th:field="*{birthday}">
    </div>

    <div class="form-group">
        <label for="job">Job</label>
        <input type="text" id="job" class="form-control" th:field="*{job}">
    </div>

    <div id="uploadPhoto">
        <input type="hidden" id="photo" name="gallery_photo" th:field="*{profile_picture_url}" />
        <button class="btn btn-primary" id="upload">Add Picture</button>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<footer th:replace="partials/footer :: footer"></footer>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js" defer></script>
<script type="text/javascript" th:src="@{/js/filestack.js}" defer></script>
</body>
</html>