<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Friends list')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>HomePage</h1>

<div sec:authorize="isAuthenticated()">
    Username:
    <p th:text="${#authentication.principal.username}"></p>
    This content is only shown to authenticated users.

    <form th:action="@{/posts/create/{username}(username=${#authentication.principal.username})}" method="GET" class="p-3">
        <button type="submit" class="btn btn-primary">Create a post</button>
    </form>

    <form th:action="@{/edit/{username}(username=${#authentication.principal.username})}" method="GET" class="p-3">
        <button type="submit" class="btn btn-primary">Update Profile Details</button>
    </form>

    <form th:action="@{/posts/view/{username}(username=${#authentication.principal.username})}">
        <button type="submit" class="btn btn-primary">View Your Posts</button>
    </form>
</div>

<br><br><br>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>