<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Profile')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="partials/header :: header"></header>

<!-- copy to all pages,  -->
<div th:if="${sessionUser.getUsername() == user.getUsername()}" class="row template">
    <aside class="col-xl-4">
        <div class="container">
            <div class="row p-3" style="background: white">
                <div class="col">
                    <img class="card-img-top p-3 profile-pic" th:src="${user.getProfile_picture_url().toString()}" alt="Card image cap">
                    <h5 class="card-title" th:text="${user.username}"></h5>
                </div>
                <div class="col">
                    <div class="card-text">
                        <p th:text="${user.firstName}"></p>
                        <p th:text="${user.lastName}"></p>
                        <p class="text-muted"><i class="far fa-handshake"></i> Joined</p>
                        <p th:text="${user.createdDate}"></p>
                        <p class="text-muted"><i class="fas fa-birthday-cake"></i> Birthday</p>
                        <p th:text="${user.birthday}"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-text">
                        <p class="text-muted"><i class="far fa-envelope"></i> Email</p>
                        <p th:text="${user.email}"></p>
                        <p class="text-muted"><i class="far fa-address-card"></i> Works at</p>
                        <p th:text="${user.job}"></p>
                    </div>
                    <form  th:if="${sessionUser.getUsername() == user.username}" th:action="@{/edit/{username}(username=${#authentication.principal.username})}" class="card-link" method="get">
                        <button type="submit" class="btn btn-secondary">Edit Profile</button>
                    </form>
                </div>
                <div class="col-12">
                    <p th:text="${user.aboutMe}"></p>
                </div>
            </div>
        </div>
    </aside>
    <main class="col-xl-8">
        <div style="width: 100%;">
<!--            nav tabs-->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="true">Posts</a>
                    <a class="nav-item nav-link" id="nav-friends-tab" data-toggle="tab" href="#nav-friends" role="tab" aria-controls="nav-friends" aria-selected="false">Friends</a>
                    <a class="nav-item nav-link" id="nav-photos-tab" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-photos" aria-selected="false">Galleries</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
            <!--       tab 1 posts -->
                <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
                    <form style="background-color: #faf3dd;" th:action="@{/posts/create/{username}(username=${#authentication.principal.username})}" th:object="${newPost}" method="POST" class="p-4 m-3">
                        <div class="btn-group" role="group" style="width: 100%;">
                            <input type="text" id="postBody" class="form-control" placeholder="What's up?" th:field="*{body}" required>
                            <div id="uploadPhoto">
                                <input type="hidden" id="photo" name="gallery_photo" th:field="*{photo_url}">
                                <button class="btn btn-light py-3" id="upload">Upload</button>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <div class="container">
                        <div th:each="item : ${posts}">
                            <div class="card">
                                <div class="card-header container">
                                    <div class="row">
                                        <div class="col-3">
                                            <a th:if="${item.getUser() != user}" th:href="@{/{username}/friend/{friendName} (friendName=${item.getUser().getUsername()}, username=${user.getUsername()})}">
                                                <img th:src="${item.getUser().getProfile_picture_url().toString()}" class="rounded gallery-item-tiny" alt="...">
                                            </a>
                                            <a th:if="${item.getUser() == user}" th:href="@{/user/{username} (username=${user.getUsername()})}">
                                                <img th:src="${item.getUser().getProfile_picture_url().toString()}" class="rounded gallery-item-tiny" alt="...">
                                            </a>
                                        </div>
                                        <div class="col-9">
                                            <h4 th:text="${item.getUser().getUsername()}"></h4>
                                            <div>
                                                <p th:text="'Uploaded: ' + ${item.getDateString()}"></p>
                                                <small class="text-muted" th:text="${item.getEditDate()}"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mt-2 pt-2">
                                        <div></div>
                                        <img th:if="${item.getPhoto_url()} != null" class="gallery-item-post" th:src="${item.getPhoto_url().toString()}" alt="">
                                        <p class="card-text m-3" th:text="${item.getBody()}"></p>
                                        <div class="p-3" th:if="${item.getUser() == user}">
                                            <form style="float: left;" th:action="@{/posts/edit/{username}/{id} (username=${user.getUsername()}, id=${item.getId()})}" method="get">
                                                <button class="btn btn-secondary" type="submit" name="edit">Edit</button>
                                            </form>
<!--                                            <a th:href="@{/posts/edit/{username}/{id} (username=${user.getUsername()}, id=${item.getId()})}">Edit post</a>-->
                                            <form style="float: right;" th:action="@{/posts/delete/{username}/{id} (username=${user.getUsername()}, id = ${item.getId()})}" th:method="post">
                                                <button class="btn btn-light" type="submit" name="delete">Remove</button>
                                            </form>
                                        </div>
                                        <br>
                                        <form class="mt-2 pt-2 border-top" th:action="@{/posts/create/{username}/{postId}/comment (username=${user.getUsername()}, postId=${item.getId()})}" th:object="${newComment}" method="POST">
                                            <input id="commentBody" class="form-control" th:field="*{body}" type="text" placeholder="comment" required>
                                            <button type="submit" class="btn btn-primary m-2">Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div th:each="commentItem : ${comments}" class="m-5">
                                <div th:if="${commentItem.getParentPost() == item}" >
                                    <div class="card m-5">
                                        <div class="card-body container">
                                            <div class="row">
                                                <div class="col-3">
                                                    <a th:if="${commentItem.getUser() != user}" th:href="@{/{username}/friend/{friendName} (friendName=${commentItem.getUser().getUsername()}, username=${user.getUsername()})}">
                                                        <img th:src="${commentItem.getUser().getProfile_picture_url().toString()}" class="rounded gallery-item-teeny-tiny" alt="...">
                                                    </a>
                                                    <a th:if="${commentItem.getUser() == user}" th:href="@{/user/{username} (username=${user.getUsername()})}">
                                                        <img th:src="${commentItem.getUser().getProfile_picture_url().toString()}" class="rounded gallery-item-teeny-tiny" alt="...">
                                                    </a>
                                                </div>
                                                <div class="col-9">
                                                    <div class="me-auto card-title">
                                                        <p th:text="${commentItem.getUser().getUsername()}"></p>
                                                    </div>
                                                    <p th:text="'Uploaded: ' + ${commentItem.getDateString()}"></p>
                                                    <small class="text-muted" th:text="${commentItem.getEditDate()}"></small>
                                                </div>
                                            </div>
                                            <p class="card-text m-3" th:text="${commentItem.getBody()}"></p>
                                            <div class="mt-2 pt-2 border-top">
                                                <div th:if="${commentItem.getUser() == user}">
                                                    <form style="float: left;" th:action="@{/comments/edit/{username}/{commentId} (username=${#authentication.principal.username}, commentId=${commentItem.id})}" th:object="${commentItem}" method="get">
                                                        <button type="submit" class="btn btn-secondary">Edit</button>
                                                    </form>
                                                    <form style="float: right;" th:action="@{/comments/delete/{username}/{commentId} (username=${user.getUsername()}, commentId=${commentItem.getId()})}" method="post">
                                                        <button type="submit" name="delete" class="btn btn-light">Remove</button>
                                                    </form>
                                                </div>
                                                <!--                                            <a th:href="@{/posts/create/{username}/{postId}/comment (username=${user.username}, postId = ${item.getId()})}" class="card-link">Comment</a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--       tab 2 friends-->
                <div class="tab-pane fade" id="nav-friends" role="tabpanel" aria-labelledby="nav-friends-tab">
                    <h1>Friends</h1>
<!--                    <form th:action="@{/users/search/{username} (username=${user.getUsername()})}" method="post">-->
<!--                        <input class="field" name="search" type="search" placeholder="Find Your Friends"/>-->
<!--                        <button class="btn btn-outline-success my-2 my-sm-0">Search</button>-->
<!--                    </form>-->
                    <form th:action="@{/users/search/{username} (username=${user.getUsername()})}" method="GET">
                        <button type="submit" class="btn btn-primary">Discover</button>
                    </form>
                    <div class="square-gallery p-0">
                        <div class="image-text-container gallery-item" th:each="item : ${friends}">
                            <a th:href="@{/{username}/friend/{friendName} (username=${sessionUser.getUsername()}, friendName=${item.getUsername()})}">
                                <div th:if="${item.profile_picture_url.isEmpty()}">
                                    <img src="/img/blank-profile-picture.png">
                                    <p class="image-text" th:text="${item.username}"></p>
                                </div>
                            </a>
                            <a th:href="@{/{username}/friend/{friendName} (username=${sessionUser.getUsername()}, friendName=${item.getUsername()})}">
                                <div th:if="${!item.profile_picture_url.isEmpty()}">
                                    <img th:src="${item.profile_picture_url.toString()}">
                                    <p class="image-text" th:text="${item.username}"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--       tab 3 galleries-->
                <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
                    <h1>Photos</h1>
                    <div class="square-gallery p-0">
                        <div class="image-text-container gallery-item" th:each="item : ${galleries}">
                            <div th:if="${!item.getPictures().isEmpty()}" id="thumbnail-container">
                                <!--                                <a class="modal-link" href="#exampleModal" data-toggle="modal" th:data-id="${item.getId()}">-->
                                <a th:href="@{/{username}/gallery/{id} (username=${user.username}, id=${item.id})}">
                                    <img th:src="${item.getPictures().get(0).pictureUrl.toString()}" alt="Gallery Thumbnail Image">
                                    <p class="image-text" th:text="${item.name}"></p>
                                </a>
                            </div>
                            <div th:if="${item.getPictures().isEmpty()} == true">
                                <a th:href="@{/{username}/gallery/{id} (username=${user.username}, id=${item.id})}">
                                    <img src="/img/thumbnailDefault.jpg" alt="Gallery Thumbnail Image">
                                    <p class="image-text" th:text="${item.getName()}"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h3>Create Gallery</h3>
                    <form th:action="@{/{username}/gallery/create (username=${#authentication.principal.username})}" th:object="${newGallery}" method="POST" class="p-3">
                        <label for="galleryName">Gallery Name</label>
                        <input id="galleryName" class="form-control" type="text" th:field="*{name}" th:value="default" required>
                        <button type="submit" class="btn btn-primary">Create Gallery</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="col-xl-12">
        JustFriends
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/keys.js"></script>
<script type="text/javascript" th:src="@{/js/filestack.js}" defer></script>
</body>
</html>