<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Status of user1's friendships with user2 and user3</h3>
<p th:text="${user1friends}"></p>

<br><br><br>

<!--<h3>Status of the friendship between user1 and user2</h3>-->
<!--<p th:text="${user1_and_user2_friendship.getStatus()}"></p>-->

<!--<br><br><br>-->
<!--<h3>Status of the friendship between user1 and user3</h3>-->
<!--<p th:text="${user1_and_user3_friendship.getStatus()}"></p>-->

</body>
</html>