<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Friends list')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="partials/header :: header"></header>

<h1>HomePage</h1>

<div sec:authorize="isAuthenticated()">
    Username:
    <p th:text="${#authentication.principal.username}"></p>
    This content is only shown to authenticated users.

    <form th:action="@{/posts/create/{username}(username=${#authentication.principal.username})}" method="GET" class="p-3">
        <button type="submit" class="btn btn-primary">Create a post</button>
    </form>

    <form th:action="@{/edit/{username}(username=${#authentication.principal.username})}" method="GET" class="p-3">
        <button type="submit" class="btn btn-primary">Update profile details</button>
    </form>

    <form th:action="@{/posts/view/{username}(username=${#authentication.principal.username})}" method="GET" class="p-3">
        <button type="submit" class="btn btn-primary">View your posts</button>
    </form>

    <form th:action="@{/{username}/delete (username=${#authentication.principal.username})}" method="POST" class="p-3" >
        <button type="submit" class="btn btn-warning">Delete your account</button>
    </form>

    <form th:action="@{/{username}/friends (username=${#authentication.principal.username})}" method="GET" class="p-3">
        <button type="submit" class="btn btn-primary">Find friends</button>
    </form>

    <form th:action="@{/{username}/friends/view (username=${#authentication.principal.username})}" method="GET" class="p-3">
        <button type="submit" class="btn btn-primary">View your friends</button>
    </form>

    <form th:action="@{/{username}/stories (username=${#authentication.principal.username})}" method="GET" class="p-3">
        <button type="submit" class="btn btn-primary">View your friend's posts</button>
    </form>

    <a th:href="@{/{username}/my-photos (username=${#authentication.principal.username})}" class="btn btn-primary p-3">View Photos</a>

</div>

<br><br><br>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>