<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Username:
<p th:text="${user.username}"></p>
First Name:
<p th:text="${user.firstName}"></p>
Email:
<p th:text="${user.email}"></p>
<br><br><br>
My Friends:
<p th:text="${friendsList}"></p>

<h3>Post id = 1, User id = 1</h3>
<p th:text="${post}"></p>

<br><br><br>
<h3>Comment from user 2</h3>
<div>
    <h4>username</h4>
    <p th:text="${commentsFromUser2.user.username}"></p>
    <h4>body</h4>
    <p th:text="${commentsFromUser2.body}"></p>
    <h4>body of parent post_id=1</h4>
    <p th:text="${commentsFromUser2.getParentPost().body}"></p>
</div>
<br><br><br>

<h3>Comment from user 3</h3>
<div>
    <h4>username</h4>
    <p th:text="${commentsFromUser3.user.username}"></p>
    <h4>body</h4>
    <p th:text="${commentsFromUser3.body}"></p>
    <h4>body of parent post_id=1</h4>
    <p th:text="${commentsFromUser3.getParentPost().body}"></p>
</div>

</body>
</html>