<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('MyPhotos')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="partials/header :: header"></header>

<!--todo this code is broken if a gallery has no photos-->
<h1>Galleries</h1>
<div id="gallery-thumbnails">
    <div th:each="item: ${galleries}">
        <div th:if="${!item.getPictures().isEmpty()}" id="thumbnail-container">
            <a th:href="@{/{username}/gallery/{id} (username=${user.getUsername()}, id=${item.getId()})}">
                <img class="card-img-top gallery-thumbnail-image" th:src="${item.getPictures.get(0).getPictureUrl().toString()}" alt="Gallery Thumbnail Image">
            </a>
            <p id="caption" th:text="${item.getName()}"></p>
        </div>
        <div th:if="${item.getPictures().isEmpty()}">
            <a th:href="@{/{username}/gallery/{id} (username=${user.getUsername()}, id=${item.getId()})}">
                <img class="card-img-top gallery-thumbnail-image" src="/img/thumbnailDefault.jpg" alt="Gallery Thumbnail Image">
            </a>
            <p class="caption" th:text="${item.getName()}"></p>
        </div>
    </div>
</div>

<br><br>

<div sec:authorize="isAuthenticated()">
    <h3>Create Gallery</h3>
    <form th:action="@{/{username}/gallery/create (username=${#authentication.principal.username})}" th:object="${gallery}" method="POST" class="p-3">
        <label for="galleryName">Gallery Name</label>
        <textarea id="galleryName" class="form-control" rows="1" cols="5" th:field="*{name}" th:value="default"></textarea>
        <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <button type="submit" class="btn btn-primary">Create Gallery</button>
    </form>
</div>



<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>