<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('MyPhotos')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Galleries</h1>
<div th:each="item: ${galleries}">
    <a th:href="@{/{username}/gallery/{id} (username=${user.getUsername()}, id=${item.getId()})}" th:text="${item.getName()}"></a>
    <br>
</div>

<br><br>

<div sec:authorize="isAuthenticated()">
    <h3>Create Gallery</h3>
    <form th:action="@{/{username}/gallery/create (username=${#authentication.principal.username})}" th:object="${gallery}" method="POST" class="p-3">
        <label for="galleryName">Gallery Name</label>
        <textarea id="galleryName" class="form-control" rows="1" cols="5" th:field="*{name}" th:value="default"></textarea>
        <button type="submit" class="btn btn-primary">Create Gallery</button>
    </form>
</div>



<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>