<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('MyPhotos')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="partials/header :: header"></header>
<div th:if="${#authentication.principal.username == displayUser.username}">
    <div class="template row">
        <aside class="col-xl-4">
            <div class="container">
                <div class="row p-2" style="background: white">
                    <div class="col">
                        <img class="card-img-top p-3 profile-pic" th:src="${displayUser.getProfile_picture_url().toString()}" alt="Card image cap">
                        <h5 class="card-title" th:text="${displayUser.username}"></h5>
                    </div>
                    <div class="col">
                        <div class="card-text">
                            <p th:text="${displayUser.firstName}"></p>
                            <p th:text="${displayUser.lastName}"></p>
                            <p class="text-muted">Joined</p>
                            <p th:text="${displayUser.createdDate}"></p>
                            <p class="text-muted">Birthday</p>
                            <p th:text="${user.birthday}"></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-text">
                            <p class="text-muted">Email</p>
                            <p th:text="${displayUser.email}"></p>
                            <p class="text-muted">Works at</p>
                            <p th:text="${displayUser.job}"></p>
                        </div>
                        <form  th:if="${#authentication.principal.username == displayUser.username}" th:action="@{/edit/{username}(username=${#authentication.principal.username})}" class="card-link" method="get">
                            <button type="submit" class="btn btn-secondary">Edit Profile</button>
                        </form>
                    </div>
                    <div class="col-12">
                        <p th:text="${displayUser.aboutMe}"></p>
                    </div>
                </div>
            </div>
        </aside>
        <main class="col-xl-8">
            <div style="width: 100%; background-color: white;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-photos-tab" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-photos" aria-selected="true">Photos</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
<!--                    photos-->
                    <div class="tab-pane fade show active" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab" >
                        <h2 th:text="${gallery.getName()}"></h2>
                        <a th:href="@{/user/{username}(username=${#authentication.principal.username})}">
                            <h5>Go Home</h5>
                        </a>
                        <div style="background-color: #faf3dd;" class="row my-3">
                            <div class="col-6 col-xl-4 my-2" th:each="item : ${photos}">
                                <div class="search-card">
                                        <!--                                    todo need create zoom on click-->
                                    <img id="galleryPhoto" th:src="${item.pictureUrl}" alt="User uploaded image"/>
                                    <div class="my-1" th:text="${item.getComment()}"></div>
                                    <div th:if="${#authentication.principal.username} == ${displayUser.getUsername()}">
                                        <form th:action="@{/{username}/photo/{id}/edit (username=${#authentication.principal.username}, id=${item.getId()})}" th:object="${displayPhoto}" method="POST" class="p-3">
                                            <input id="caption" class="form-control" th:field="*{comment}" maxlength="30"/>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                            <form th:action="@{/{username}/photo/{id}/delete (username=${#authentication.principal.username}, id=${item.getId()})}" method="post" th:object="${displayPhoto}" class="gallery-btn">
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?\nYou can\'t change your mind after clicking OK.')">Delete</button>
                                            </form>
                                            <div class="error-message" th:if="${#fields.hasErrors('pictureUrl')}" th:errors="*{pictureUrl}"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br><br><br><br><br><br>
                        <!--                    redesign this-->
                        <div th:if="${#authentication.principal.username} == ${displayUser.getUsername()}">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPhotoModal">Add Photo</button>
                            <div class="card">
                                <form th:action="@{/{username}/gallery/{id}/edit (username=${#authentication.principal.username}, id=${gallery.getId()})}" th:object="${gallery}" method="POST" class="p-3">
                                    <label for="galleryName">Gallery Name</label>
                                    <input id="galleryName" class="form-control" th:field="*{name}" maxlength="40" required>
                                    <button type="submit" class="btn btn-primary">Change Gallery Name</button>
                                    <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                </form>
                                <form th:action="@{/{username}/gallery/{id}/delete (username=${#authentication.principal.username}, id=${gallery.getId()})}" th:object="${gallery}" method="post" class="p-3">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?\nYou can\'t change your mind after clicking OK.')">Delete Gallery</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal" tabindex="-1" role="dialog" id="addPhotoModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Upload Photo</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/{username}/gallery/{id}/create-photo (username=${#authentication.principal.username}, id=${gallery.getId()})}" th:object="${picture}" method="POST" class="p-3">
                                            <div id="uploadPhoto">
                                                <input type="hidden" id="photo" name="gallery_photo" th:field="*{pictureUrl}">
                                                <button class="btn btn-primary" id="upload">Upload Picture</button>
                                            </div>
                                            <br>
                                            <div class="col-md-4 mb-3">
                                                <label for="comment">Caption</label>
                                                <input type="text" id="comment" class="form-control" placeholder="Picture this..." th:field="*{comment}" required>
                                            </div>
                                            <button id="submitAddPhoto" type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </main>
        <footer class="col-xl-12">
            JustFriends
        </footer>
    </div>
</div>


<!--gallery view for non-gallery owners-->
<div th:if="${sessionUser.getUsername() != displayUser.username}">
    <div class="template row">
        <aside class="col-xl-4">
            <div class="container">
                <div class="row p-2" style="background: white">
                    <div class="col">
                        <img class="card-img-top p-3 profile-pic" th:src="${displayUser.getProfile_picture_url().toString()}" alt="Card image cap">
                        <h5 class="card-title" th:text="${displayUser.username}"></h5>
                    </div>
                    <div class="col">
                        <div class="card-text">
                            <p th:text="${displayUser.firstName}"></p>
                            <p th:text="${displayUser.lastName}"></p>
                            <p class="text-muted">Joined</p>
                            <p th:text="${displayUser.createdDate}"></p>
                            <p class="text-muted">Birthday</p>
                            <p th:text="${displayUser.birthday}"></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-text">
                            <p class="text-muted">Email</p>
                            <p th:text="${displayUser.email}"></p>
                            <p class="text-muted">Works at</p>
                            <p th:text="${displayUser.job}"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <p th:text="${displayUser.aboutMe}"></p>
                    </div>
                </div>
            </div>
        </aside>
        <main class="col-xl-8">
            <div style="width: 100%;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                        <a class="nav-item nav-link active" id="nav-photos-tab2" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-photos" aria-selected="true">Photos</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent2">
                    <!--            tab 2 photos    -->
                    <div class="tab-pane fade show active" id="nav-photos2" role="tabpanel" aria-labelledby="nav-photos-tab" >
                        <h2 th:text="${gallery.getName()}"></h2>
                        <a th:href="@{/user/{username}(username=${#authentication.principal.username})}">
                            <h5>Go Home</h5>
                        </a>
                        <div style="background-color: #faf3dd;" class="row my-3">
                            <div th:each="item : ${photos}" class="col-6 col-xl-4 my-2">
                                <div class="search-card">
                                        <!--                                    todo need create zoom on click-->
                                    <a  href="#" data-toggle="modal">
                                        <img id="galleryPhoto2" th:src="${item.pictureUrl}" alt="User uploaded image"/>
                                    </a>
                                    <div class="my-1" th:text="${item.getComment()}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="col-xl-12">
            JustFriends
        </footer>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/keys.js"></script>
<script type="text/javascript" th:src="@{/js/filestack.js}" defer></script>
</body>
</html>